<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt flex">



	<section id="toc_container"> 
		<div class="sticky-toc" > 
			<header class="major">
				<h3> <a href="#main"> Sommaire </a></h3>
			</header>
			{{ content | toc_only }} 
		</div>
	</section>

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
		</header>
		{% if page.image %}<span class="small_image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
		{{ content }}
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>

<style>
.flex {
	display: flex;
}

.sticky-toc {
	position: sticky;
	top: 80px;
	z-index: 100;
	font: 400 1rem;
	margin-left: 2em;
}

.toc-h2 {
	list-style: square;
	font: 600 1.1rem;
}

#toc ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#toc a {
	border-bottom: none;
}

#toc_container {
	padding: 6em 0 2em 0;
}

</style>

<script>
    // Add smooth scrolling behavior with offset
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                const targetElement = document.querySelector(this.getAttribute('href'));
                const offset = 70; // Adjust the offset as needed

                if (targetElement) {
                    window.scrollTo({
                        top: targetElement.offsetTop - offset,
                        behavior: 'smooth'
                    });
                }
            });
        });
    });
</script>